*{
    color: #fff;
}
h1, h3, p{
    text-align: center;
}
.bg{background: url("../images/bg.jpg") rgba(0, 0, 0, 0.65); 
    width: 100%; 
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}
.form-container{
    border: 0px solid #fff;
    padding: 8px 10px;
    margin-top: 1vh;
    -webkit-box-shadow: -1px 4px 26px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 10px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 10px rgba(0,0,0,0.75);
}
.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    padding-left: 30%;
}
